<script type="text/javascript">

        $(function() {

        var context = this;
                this.numrecords = 10;
                this.numrecindex = 1;
                //managing search
                this.searchString = null;
                this.searchFilter = true;
                this.searchField = null;
                this.orderField = null;
                this.orderSort = null;
            
                //loading icon
                var loading = $("#loading");
                $(document).ajaxStart(function() {
        //loading.show();
        });
                $(document).ajaxStop(function() {
       
        //loading.hide();
        });
                // get first grid
                $.ajax({
                url: "{{path ('roleajaxlistdata')}}?numberOfRecords=" + 10 + '&page=' + 1,
                        context: document.body,
                        success: (function(data) {

                        $('table.table tbody').html(data);
                        }),
                });
                var numrecindex = 0;

                $.ajax({
                url: "{{path ('rolegridpager')}}?numberOfRecords=" + 10 + '&numRecIndex=' + 1 + '&page=' + 1,
                        context: document.body,
                        success: (function(data) {

                        $('#pager-container').html(data);
                        })

                });
                $(document).on('change', '#form_numRecords', (function() {

        var numrec = $(this).val();
                var numrecindex = $(this).find(":selected").index();
                context.numrecindex = $(this).find(":selected").index();
                $.ajax({
                url: "{{path ('roleajaxlistdata')}}?numberOfRecords=" + $(this).val() + '&numRecIndex=' + numrecindex + '&searchField=' + context.searchField + '&searchString=' + context.searchString,
                        context: document.body
                }).done(function(data) {

        $('table.table tbody').html(data);
        });
                //load pager
                $.ajax({
                url: "{{path ('rolegridpager')}}?numberOfRecords=" + $(this).val() + '&numRecIndex=' + numrecindex + '&page=' + 1 + '&searchField=' + context.searchField + '&searchString=' + context.searchString,
                        context: this,
                        success: (function(data) {


                        $('#pager-container').html(data);
                        })
                });
        }));
                $(document).on('click', '.pages', (function() {


        context.numrecords = $("#form_numRecords").val();
                var pagenum = $(this).attr('id');
                pagenum = pagenum.replace('pagelist', '');
              
                if (pagenum == 0) {
        pagenum = 1;
        }


        var numrec = $("#form_numRecords").val();
                var numrecindex = $("#form_numRecords").find(":selected").index();
                $('#paginationList li').attr('class', 'pagesli');
                $('#pagelist' + (pagenum)).attr('class', 'active');
                //calculate num records
                var allrec ={{numRoles}} ;
                var recfirst = 0;
                if (allrec < ((pagenum - 1) * numrec)) {
        recfirst ={{numRoles}}
        } else {
        recfirst = (((pagenum - 1) * numrec) + 1);
        }

        var reclast = 0;
                if (allrec < ((pagenum) * numrec)) {
        reclast ={{numRoles}}
        } else {
        reclast = (((pagenum) * numrec));
        }

        var recstring = 'Record ' + recfirst + ' - ' + reclast + ' di ' + allrec;
                $('#recfirst').text(recstring);
                $('#recinit').text('');
                $.ajax({
                url: "{{path ('roleajaxlistdata')}}?numberOfRecords=" + numrec + '&page=' + pagenum + '&searchField=' + context.searchField + '&searchString=' + context.searchString,
                        context: document.body,
                        success: (function(data) {

                        $('table.table tbody').html(data);
                        }),
                });
        }));
                //action for view
                $(document).on('click', '.glyphicon.glyphicon-eye-open.blue', (function() {
        var recid = $(this).attr('id');
                recid = recid.replace('viewRecord', '');
                var id = $(this).data('id');
              
        {% for key, role in roles %}
                    if (parseInt({{ role.id }}) == parseInt(id)) {
           
                  
                    $('#viewRoleName').html('{{ role.name|e }}');
                    $('#viewRoleDesc').html('{{ role.description|e }}');
                    $('#viewAccessLevel').html('{{ role.accessLevel|e }}');
            
            }
            
             // get edit form
                    $.ajax({
                    url: "{{path ('roleassocusers')}}?id=" + id,
                            context: this,
                            success: (function(data) {
                            $('#assocUsersList').html(data);
                                
                            }),
                    });
        {% endfor %}


            }));
                  //action for edit
            $(document).on('click', '.glyphicon.glyphicon-edit.blue', (function() {
               
                $('#editModal').html();
                    var recid = $(this).attr('id');
                    recid = recid.replace('editRecord', '');
                    var id=$(this).data('id');

                    // get edit form
                    $.ajax({
                    url: "{{path ('roleedit')}}?id=" + id,
                            context: this,
                            success: (function(data) {
                            $('#editModal').html(data);
                                
                            }),
                    });
            })); 

         
            //action for delete
            $(document).on('click', '.glyphicon.glyphicon-remove-circle.blue', (function() {

            var id = $(this).data('id');
                        {% for key, role in roles %}
                    if (parseInt({{ role.id }}) == parseInt(id)) {

            $('#delName').html('{{ role.description|e }} ');
            }
        {% endfor %}


            }));
            //action for order asc
            $(document).on('click', '.glyphicon.glyphicon-chevron-up.blue', (function() {
                    var id = $(this).attr('id');
                    fieldname = id.replace('btnOrder', '');
                    fieldname = fieldname.replace('Down', '');
                    fieldname = fieldname.replace('Minus', '');
                    fieldname = fieldname.replace('Up', '');
                    //FIELD NAMES MUST BE IN THE SAME CASE OF TABLE
                    //  fieldname = fieldname.toLowerCase();


                    context.numrecindex = $("#form_numRecords").find(":selected").index();
                    context.numrecords = $("#form_numRecords").val();
                    context.orderField = fieldname;
                 

                    //ajax call for data
                    $.ajax({
                    url: "{{path ('roleajaxlistdata')}}?numberOfRecords=" + context.numrecords + '&numRecIndex=' + context.numrecindex + '&orderField=' + context.orderField + '&orderSort=ASC' + '&searchString=' + context.searchString + '&searchField=' + context.searchField,
                            context: this
                    }).done(function(data) {

                        $('table.table tbody').html(data);
                        $('.glyphicon.glyphicon-chevron-down.blue').attr('class', 'glyphicon glyphicon-minus blue');
                        $('.glyphicon.glyphicon-chevron-up.blue').attr('class', 'glyphicon glyphicon-minus blue');
                        $(this).attr('class', 'glyphicon glyphicon-chevron-down blue');
                       
                    });
                    
                    
                        //ajax call for pager
                    
                      $.ajax({
                    url: "{{path ('rolegridpager')}}?numberOfRecords=" + 10 + '&numRecIndex=' + 1 + '&page=' + 1 + '&searchString=' + context.searchString + '&searchField=' + context.searchField,
                            context: document.body,
                            success: (function(data) {

                            $('#pager-container').html(data);
                            })

                    });
            }));
           
            //action for order desc
           $(document).on('click', '.glyphicon.glyphicon-chevron-down.blue', (function() {
            var id = $(this).attr('id');
                    fieldname = id.replace('btnOrder', '');
                    fieldname = fieldname.replace('Down', '');
                    fieldname = fieldname.replace('Minus', '');
                    fieldname = fieldname.replace('Up', '');
                    //FIELD NAMES MUST BE IN THE SAME CASE OF TABLE
                    //ENABLE FOLLOWING LINE FOR A DIFFERENT BEHAVIOR
                    //MEANS FIELDS NAMES TO BE MANAGED BY AN ARRAY IN CONTEXT
                    //fieldname = fieldname.toLowerCase();
                    context.orderField = fieldname;
                    context.numrecindex = $("#form_numRecords").find(":selected").index();
                    context.numrecords = $("#form_numRecords").val();
                    
                    //ajax call for data
                    $.ajax({
                    url: "{{path ('roleajaxlistdata')}}?numberOfRecords=" + context.numrecords + '&numRecIndex=' + context.numrecindex + '&orderField=' + context.orderField + '&orderSort=DESC' + '&searchString=' + context.searchString + '&searchField=' + context.searchField,
                            context: this
                    }).done(function(data) {

                            $('table.table tbody').html(data);
                            // alert('Ordina secondo ascendente');
                            $('.glyphicon.glyphicon-chevron-up.blue').attr('class', 'glyphicon glyphicon-minus blue');
                            $('.glyphicon.glyphicon-chevron-down.blue').attr('class', 'glyphicon glyphicon-minus blue');
                            $(this).attr('class', 'glyphicon glyphicon-chevron-up blue');
                    });
                    
                   
                        //ajax call for pager
                    
                    $.ajax({
                        url: "{{path ('rolegridpager')}}?numberOfRecords=" + 10 + '&numRecIndex=' + 1 + '&page=' + 1 + '&searchString=' + context.searchString + '&searchField=' + context.searchField,
                            context: document.body,
                            success: (function(data) {

                            $('#pager-container').html(data);
                            })

                    });
                    
            }));
            
            //action for order minus
            $(document).on('click', '.glyphicon.glyphicon-minus.blue', (function() {

                    var id = $(this).attr('id');
                    fieldname = id.replace('btnOrder', '');
                    fieldname = fieldname.replace('Down', '');
                    fieldname = fieldname.replace('Minus', '');
                    fieldname = fieldname.replace('Up', '');
                    // fieldname = fieldname.toLowerCase();
                    context.numrecindex = $("#form_numRecords").find(":selected").index();
                    context.numrecords = $("#form_numRecords").val();
                    context.orderField = fieldname;
                    
                    //ajax call for data
                    $.ajax({
                    url: "{{path ('roleajaxlistdata')}}?numberOfRecords=" + context.numrecords + '&numRecIndex=' + context.numrecindex + '&orderField=' + context.orderField + '&orderSort=DESC' + '&searchString=' + context.searchString + '&searchField=' + context.searchField,
                            context: this
                    }).done(function(data) {

                        $('table.table tbody').html(data);
                          
                            $('.glyphicon.glyphicon-chevron-down.blue').attr('class', 'glyphicon glyphicon-minus blue');
                            $('.glyphicon.glyphicon-chevron-up.blue').attr('class', 'glyphicon glyphicon-minus blue');
                            $(this).attr('class', 'glyphicon glyphicon-chevron-up blue');
                    });
                    
                    //ajax call for pager
                    
                      $.ajax({
                    url: "{{path ('rolegridpager')}}?numberOfRecords=" + 10 + '&numRecIndex=' + 1 + '&page=' + 1 + '&searchString=' + context.searchString + '&searchField=' + context.searchField,
                            context: document.body,
                            success: (function(data) {

                            $('#pager-container').html(data);
                            })

                    });
                    
            }));
                   


                    //manage filter 
                    $(document).on('click', '#btnFilter', (function(event, ui) {

            if (context.searchFilter == false) {
            context.searchFilter = true;
                    $(this).attr("class", 'btn btn-primary');
                    $('#txtSearchString').html('');
            } else {
            context.searchFilter = false;
                    $('#txtSearchString').html('');
                    $(this).attr("class", 'btn btn-default');
                    context.searchString = null;
                    context.searchField = null;
                    $.ajax({
                    url: "{{path ('roleajaxlistdata')}}?numberOfRecords=" + 10 + '&page=' + 1 + '&searchString=' + context.searchString + '&searchField=' + context.searchField,
                            context: document.body,
                            success: (function(data) {

                            $('table.table tbody').html(data);
                            }),
                    });
                    $.ajax({
                    url: "{{path ('rolegridpager')}}?numberOfRecords=" + 10 + '&numRecIndex=' + 1 + '&page=' + 1 + '&searchString=' + context.searchString + '&searchField=' + context.searchField,
                            context: document.body,
                            success: (function(data) {

                            $('#pager-container').html(data);
                            })

                    });
            }

            }))

                    //manage search button click event
                    $(document).on('click', '#btnSearch', (function(event, ui) {

            context.searchString = $('#txtSearch').val();
                    if (context.searchString !== null) {
            if (context.searchFilter == true) {
            context.searchField = 'name';
                    $.ajax({
                    url: "{{path ('roleajaxlistdata')}}?numberOfRecords=" + 10 + '&page=' + 1 + '&searchString=' + context.searchString + '&searchField=' + context.searchField,
                            context: document.body,
                            success: (function(data) {

                            $('table.table tbody').html(data);
                            }),
                    });
                    $.ajax({
                    url: "{{path ('rolegridpager')}}?numberOfRecords=" + 10 + '&numRecIndex=' + 1 + '&page=' + 1 + '&searchString=' + context.searchString + '&searchField=' + context.searchField,
                            context: document.body,
                            success: (function(data) {

                            $('#pager-container').html(data);
                            })

                    });
                    $('#txtSearchString').html('Risultati per: <i>' + context.searchString) + '</i>';
            } else {
            var alrt = '<div class="alert alert-warning alert-dismissible" role="alert">';
                    alrt = alrt + '<button type="button" class="close" data-dismiss="alert">';
                    alrt = alrt + '<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
                    alrt = alrt + '<strong>Attenzione!</strong> <br>Attivare il filtro per effettuare le ricerche';
                    alrt = alrt + '</div>';
                    $('#txtSearchString').html(alrt);
            }
            $('#txtSearchString').html();
            } else {

            }

         
            }));
            }); //end doc ready




        </script>
    