  <div id="navbar">
        <br>
        <br>
        <ul>
            <li><a href="{{ path('user_splash') }}">Home</a></li>
            <li><a href="{{ path('usergrid') }}">Elenco utenti</a></li>
            <li><a href="{{ path('adduser') }}">Aggiungi utente</a></li>
             <li><a href="{{ path('rolegrid') }}">Elenco ruoli</a></li>
             <li><a href="{{ path('addrole') }}">Aggiungi Ruolo</a></li>

        </ul>

    </div>